/* default stylesheet */

:root {
  --bugbcColor: #00274d;
  --bugContrastColor: #f7b500;
  --bugTextColor: #ffffff;
  --successGreen: #2ecc71;

  --scoreBugSize: 600px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "Oswald", serif;
  font-style: normal;
  font-weight: 400;
}
